@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,500;1,600&display=swap');

@font-face {
    font-family: 'Tumbly';
    src: url('../assets/fonts/tumbly.otf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

h1 {
    font-family: 'Tumbly';
}

/* body {
    display: flex;
} */

main {
    margin: 0 auto;
}


.cont_inf_user i {
    font-size: 30pt;
}
.menu {
    position: fixed;
    margin: 2% auto;
    background-color: #212124;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    border-radius: 0px 60px 60px 0px;
    
}

.menu p {
    padding: 10px;
    padding-left: 20px;
    font-size: 12pt;
    margin-bottom: 10px;

}

.menu h1 {
    text-align: center;
    padding-top: 30px;
    font-size: 23pt;
    color: #F1F6FA;
}

.bx-cycling {
    font-size: 20pt;
}
.menu ul {
    padding: 20px;
    margin: 10px  10px;
    list-style: none;
    
}

.menu ul a {
    text-decoration: none;
    color: #F1F6FA;
}
.menu ul li {
    font-size: 13pt;
    font-weight: 300;
    margin-top: 20px;
    

}
.menu ul li i {
    font-size: 17pt;
    padding-right: 5px;
    color: #F1F6FA;
    margin-bottom: 28px;
    cursor: pointer;

}

.menu ul li a {
    color: #F1F6FA;
}
.menu div:nth-child(2) {
    text-align: center;
    color: #F1F6FA;

}

.style_line {
    margin: 2% auto;
    border-color: rgba(255, 255, 255, 0.476);
}

.linha-1 {
    font-size: 13pt;
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;

}

.linha-1-sub {
    margin-left: 20px;
}
.linha-1-sub h5 {
    font-size: 14pt;
    font-weight: 600;
}
.linha-1-sub p {
    font-size: 12pt;
}

.linha-1 i  {
    font-size: 20pt;
    padding: 10px;
    border-radius: 10px;
    color: rgb(236, 236, 236);
    background-color: rgba(15, 8, 8, 0.842);
}

.cont-logout {
    border-radius: 30px;
    background: #F1F6FA;
    width: 40%;
    margin:  0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.cont-logout i {
    font-size: 14pt;
    margin-left: 0px;
    margin-right: -5px;
}

.cont-logout i, .cont-logout span {
    color: #212124;
    
}
