body {
    display: flex;
    background-color: #F4F5F7;
}

main {
    margin-left: 6%;
    width: 90%;
    margin-top: 1%;

}

.titulo {
    display: flex;
    justify-content: space-between;
    /* background-color: white; */
    border-radius: 10px;
    padding: 10px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.192); */
}

.subtotal {
    font-size: 14pt;
}

.cont_nome_titulo p {
    font-size: 20pt;
}

.titulo p {
    text-align: center;
    padding-right: 6px;
}

.titulo i {
    font-size: 27pt;
}

.cont_nome_titulo {
    display: flex;
    align-items: center;

}


/* SESSÃO DOS CARDS  */

.cards_informacoes {
    margin-top: 3%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 9%;
}

.cards {
    /* box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.185); */
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    margin-right: 4%;
    /* background-color: white; */
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.082); */

}

.cards img {
    width: 28%;
    margin: 0 auto;
    margin-top: -20px;
}

.cards p {
    text-align: center;
    margin-top: 10px;
}

.linha_1 {
    width: 70%;
    margin: 2% auto;
}

.linha_2 {
    width: 50%;
    margin: 0 auto;
}

.cards span {
    /* border: 1px solid #00000028; */
    width: 20%;
    text-align: center;
    border-radius: 25px;
    margin: 3% auto;
    color: #000000;
    font-weight: bold;
}


/* GRAFICOS  */

.graficos {
    margin-top: 2%;
    margin-left: 3%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.graficos div {
    width: 45%;
    margin-top: 2%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.151);
    background-color: white;
    padding: 20px;
}

.graficos div p {
    color: rgba(88, 88, 88, 0.671);
    margin-top: 5px;
}

.cont_grafico_rosquinha {
    height: 40vh;
}

.linha_conteudo {
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: -1.5%;
    border-color: rgba(253, 253, 253, 0.658);
}


/* TABELAS  */

.filtro_tabelas {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 20%;
    padding: 10px;
    margin: 0 0 0 auto;
    margin-bottom: 15px;
    align-items: center;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.151);

}

.filtro_tabelas p {
    font-weight: bold;
}

.filtro_tabelas select {
    margin-left: 9px;
    margin-top: 4px;
    padding: 5px;
    border-radius: 30px;
}

.tabelas {
    width: 90%;
    margin: 0 auto;
}

.tabelas table {
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.151);
    border-collapse: collapse;
}

table tr th {
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 6px;
}

table tr td i {
    font-size: 17pt;
    margin-left: 5px;
}

table tr td i:nth-child(1) {
    /* background-color: red; */
    padding: 5px;
}


.tabelas table tbody {
    width: 90%;
    background-color: white;
    text-align: center;
    margin-top: 20px;

}

.tabelas table tbody tr td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.342);
    padding: 10px;
}